@font-face {
  font-family: 'Bogle';
  src: url('https://www.lider.cl/fonts/Bogle-Regular.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Bogle';
  src: url('https://www.lider.cl/fonts/Bogle-Regular.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Bogle';
  src: url('https://www.lider.cl/fonts/Bogle-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bogle';
  src: url('https://www.lider.cl/fonts/Bogle-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Bogle';
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms linear;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

@media (max-width: 768px) {
    .ReactModal__Content {
        position: relative!important; 
        top: 0!important; 
        left: 0!important; 
        right: 0!important; 
        bottom: 0!important; 
        padding: 0!important; 
        margin-right: 0%!important; 
        transform: translate(0%, 0%)!important;
        height: 100vh!important;
        width: 100%!important;
    }
  }
